@import "tailwindcss";

.cm-editor {
  height: 100%;
  background-color: #282c34;
}

.cm-content {
  padding-left: 0;
}

.cm-gutters {
  padding-right: 6px;
}

.cm-line {
    padding-left: 0;
}

.cm-scroller {
  padding-left: 0;
}