# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Node / npm
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# Build outputs
# ===============================
dist/
build/
out/

# ===============================
# Vite / React
# ===============================
.vite/
.cache/
.eslintcache

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Testing / Coverage
# ===============================
coverage/

# ===============================
# 
# ===============================
 package-lock.json
# yarn.lock
# pnpm-lock.yaml
